.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero h1 span {
    background: linear-gradient(264deg, #DF8908 -5.09%, #15da46 150.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    width: 70%;
    max-width: 70%;
}

.hero p {
    width: 50%;
    max-width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(267deg, #b00606 0.36%, #ac5a12 102.06%);
    cursor: pointer;
    transition: 0.5s;
}

.hero-resume a {
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background: transparent;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.hero-connect:hover {
    border: 2px solid #FFF;
}

.hero-resume a:hover {
    border-color: #ac5a12;
}

@media(max-width:768px) {
    .hero img {
        margin-top: 120px;
        width: 260px;
    }

    .hero h1 {
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }

    .hero p {
        width: 50%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }

    .hero-action {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
        flex-wrap: wrap;
    }

    .hero-connect {
        background: none;         /* ✅ Remove background from container */
        padding: 0;               /* ✅ Remove padding */
    }

    .hero-connect a {
        background: linear-gradient(to right, #f27121, #e94057);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 40px;
        min-width: 150px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
    }

    .hero-resume a {
        color: white;
        background: transparent;
        border: 2px solid white;
        padding: 10px 20px;
        border-radius: 40px;
        min-width: 150px;
        display: inline-block;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }
}
