.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title{
    position: relative;
}

.contact-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section{
    display: flex;
    gap: 150px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(267deg, #b00606 0.36%, #ac5a12 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p{
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}

.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}

.contact-right label{
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-right textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(267deg, #b00606 0.36%, #ac5a12 102.06%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.Toastify__toast--success {
  background-color: #2e7d32 !important; /* dark green */
  color: white !important;
}

.Toastify__progress-bar--success {
  background: white !important;
}



@media(max-width:1024px){
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: center;
    }

    .contact-title h1{
        padding: 0;
        font-size: 40px;
        font-weight: 600;
    }

    .contact-title img{
        width: 130px;
        margin-right: -20px;
    }

    .contact-section{
        flex-direction: column;
    }

    .contact-left h1{
        font-size: 54px;
    }

    .contact-left p{
        font-size: 18px;
    }

    .contact-detail{
        gap: 20px;
    }

    .contact-detail img{
        width: 25px;
    }

    .contact-right {
        width: 100%;
        box-sizing: border-box;
    }

    .contact-right label{
        font-size: 20px;
    }

    .contact-right input{
        width: 100%;
        font-size: 20px;
        box-sizing: border-box;
    }

    .contact-right textarea{
        width: 100%;
        font-size: 20px;
        box-sizing: border-box;
    }

    .contact-submit{
        font-size: 20px;
        padding: 15px 40px;
    }

    .Toastify__toast-container--top-right {
  top: 30px !important;  /* Increase this value to move it further down */
  right: 12px !important; /* Keep right margin consistent */
}

      .Toastify__toast {
    width: 80% !important;      /* smaller width */
    max-width: 260px !important; /* limit max width */
    font-size: 12px !important;  /* smaller font */
    padding: 8px 12px !important; /* less padding */
    border-radius: 8px !important;
  }

  /* Optional: smaller progress bar height */
  .Toastify__progress-bar {
    height: 3px !important;
  }

    .Toastify__toast--success {
  background-color: #2e7d32 !important; /* dark green */
  color: white !important;
}

.Toastify__progress-bar--success {
  background: white !important;
}

.Toastify__toast--error {
  background-color: #d32f2f !important; /* red */
  color: white !important;
}

.Toastify__progress-bar--error {
  background: white !important; /* white progress bar */
}

}

